*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  outline: none;
}

:root{
  --primary: #08e6ee;
}

body{
  background:linear-gradient(60deg, rgb(4, 41, 86) 1000% , #3b2f80 100%);
  font-family: 'Poppins', sans-serif;
  
 
}

body::-webkit-scrollbar{
  display: none;
}